<%- include('header.ejs') %>
<style>
    /* CSS untuk halaman login */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Mengisi tinggi layar sepenuhnya */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Sesuaikan lebar form sesuai kebutuhan Anda */
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Tambahkan gaya tambahan sesuai kebutuhan Anda */

</style>
<form action="/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>

     <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

     <input type="submit" class="w-100" value="Login">
</form>

<%- include('footer.ejs') %>

